*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sharpsanslight;
}
html,body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: moanin;
    src: url(media/MonainnRegular-RpWKo.otf);
}
.container{
    width: 100vw;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEDFF;
    padding: 0 1.7vw;
    height: 12vh;
}
nav>img{
    height: 100%;
    object-fit: cover;
}
.search{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 70%;
    gap: .5rem;
    background-color: #fff;
    width: 27vw;
    border-radius: 5px;
}
.search input{
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
}
.search input::placeholder{
    font-weight: 400;
}
.right_nav{
    display: flex;
    align-items: center;
    gap: 2vw;
    width:20vw;
    height: 100%;
    /* background-color: red; */
}
.button{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #2A85FF;
    color: #fff;
    width: 6.5vw;
    height: 40%;
    padding: 0 .5rem;
}
.button button{
    width: 100%;
    height: 100%;
    color: #fff;
    outline: none;
    background-color: transparent;
    border: none;
}
.button button:hover, i:hover{
    cursor: pointer;
}
.right_nav img{
    width: 4vw;
    object-fit: cover;
}
aside{
    padding: 3vw 0;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    width: 10vw;
    height: 88vh;
    background-color:#EAEDFF;
}
aside a{
    position: relative;
    text-align: center;
    font-size: 1vw;
    z-index: 999;
    text-decoration: none;
    color: black;
}
aside i{
    font-size: 1.8vw;
    font-weight: 400;
    color: #333;
}
main{
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    height: 85vh;
    width:87.8vw ;
    border-radius: 20px;
}
.first_section{
    gap: 1.3vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 0 .5vw 0 2vw;
}
.box-1{
    position: relative;
    width: 50%;
    height: 92%;
    background-color: #FFE478;
    border-radius: 20px;
}
.box-2{
    position: relative;
    border-radius: 20px;
    width: 50%;
    height: 92%;
    background-color: #9EB277;
    color: #ffffff;
}
.box-1 h5,.box-2 h5{
    padding: 1vw 3vw;
    font-size: 1.8vw;
    font-family: Gilroy;
}

.box-1::after,.box-2::after{
    content: "NEW";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
    width: 5.5vw;
    height: 2.5vw;
    background-color: #0077FF;
    background-color: #E76300;
    bottom: 0;
    border-top-right-radius: 20px;
    font-size: 1vw;
    border-bottom-left-radius: 10px;
}
.box-1::before,.box-2::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "HOT";
    font-size: 1vw;
    text-align: center;
    color: white;
    position: absolute;
    width: 5.5vw;
    height: 2.5vw;
    background-color: #0077FF;
    bottom: 0;
    left: 4.2vw;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
}
#first-img{
    position: absolute;
    top: -11vw;
    right: -3vw;
    scale: .9;
    transform: rotate(-30deg);
}
#second-img{
    position: absolute;
    left: 3%;
    top: 16%;
    width: 30%;
}
#third-img{
    position: absolute;
    top: -.4rem;
    right: 2rem;
    transform: rotate(-25deg);
    width: 70%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}
.last_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.upper-box-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vw 1.5vw;
    width: 100%;
    height: 8vh;
}
.box-left h2{
    position: relative;
    padding-left: 2vw;
    font-family: Lemon milk;
    text-transform: capitalize;
    font-size: .9vw;
    letter-spacing: .3px;
}
.box-left h2::before{
    content: "";
    position: absolute;
    width:15px;
    border-bottom-left-radius:10px ;
    border-top-right-radius: 10px;
    height: 30px;
    left: .5rem;
    top: -.5rem;
    background-color: #7BE498;
}
.menu{
    padding: 5px 7px;
    text-align: center;
    border-radius: 7px;
    outline: none;
    border:1px solid #999;
    color: #000;
}
.btn{
    margin-left: 5px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #2A85FF;
    color: #fff;
    padding: .5rem 1rem;
}
.last-box-1{
    padding: 1vw 2vw;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    height:calc(100% - 8vh) ;
    gap: 1rem;
}
.cards{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width:20%;
    color:#fff;
    height: 100%;
    font-size:.9vw;
    color: #333;
    border-radius: 20px;
}
.cards img{
    position: absolute;
    width: 100%;
    height: 60%;
    object-fit: cover;
    top:20%;
    right: 9%;
    transform: rotate(-28deg);
}
#card-1{
    background-color: #b2bec3;
    box-shadow: 0 0 20px #b2bec3;
}
#card-2{
    background-color: #fdcb6e;
    box-shadow: 0 0 20px #fdcb6e;
}
#card-3{
    background-color: #6c5ce7;
    box-shadow: 0 0 20px #6c5ce7;
}
#card-4{
    background-color:#ff7675;
    box-shadow: 0 0 20px #ff7675;
}
#card-5{
    background-color: #74b9ff;
    box-shadow: 0 0 20px #74b9ff;
}
.menu{
    border: none;
    outline: none;
    background-color: #7BE498;
    color: black;
    width: 10vw;
    color: white;
    padding:6.7px 10px;
}